.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    flex: 0 0 auto;
    margin: 2rem;
    padding: 2rem;
    width: 50%;
    color: white;
    border: 0.15rem solid white;
  }
}
