.facts {
  padding-bottom: 15vh;
}

#facts-title {
  text-align: left;
}

.scrolling-wrapper-flexbox {
  display: flex;
  overflow: auto;
  width: 90vw;
  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    flex: 0 0 auto;
    margin: 2rem;
    padding: 2rem;
    width: 50vw;
    color: white;
    border: 0.15rem solid white;
  }
}

.scroll-animation {
  display: inline-block;
  padding-left: 2em;
}

.scroll-animation:hover {
  animation: scroll 3s;
  animation-iteration-count: infinite;
  color: var(--red);
}

@media screen and (max-width: 768px) {
  .scrolling-wrapper-flexbox {
    .item {
      width: 100vw;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0rem);
  }

  50% {
    transform: translateX(5rem);
  }

  100% {
    transform: translateX(0rem);
  }
}
