.button {
  width: 100%;
  border: 0.15rem solid white;
  border-left: none;
  border-right: none;
  background-color: transparent;
  padding: 1.5rem;
  color: white;
  position: relative;
  transition: all ease-in 0.5s;
  margin: 5rem 0;
  transform: scaleX(1.1);
}

.button:hover {
  color: #e74d51;
  border: 0.15rem solid #e74d51;
  border-left: none;
  border-right: none;
  transform: scale(1.2);
}
