nav {
  background-color: #555d50;
  padding: 6rem 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.nav-footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
}

.nav-list_item {
  display: flex;
  font-size: calc(16px + 0.5vw);
}

.nav-list_item_link {
  transition: color, transform 0.7s;
}

.nav-list_item_link:hover {
  color: var(--red);
  transform: scale(1.2);
}

.poster-container {
  outline: 0.2rem solid white;
  outline-offset: 2rem;
  margin: 0 3rem;
  padding-top: 18rem;
}

.movie-title {
  position: absolute;
  top: 10.5rem;
  z-index: 0;
}

.poster {
  filter: grayscale(100%);
  position: relative;
  z-index: 90;
  transition: filter 1.5s;
}

.poster:hover {
  filter: none;
}

.no-poster {
  display: none;
}

.find-button {
  background-color: transparent;
  border: none;
  transition: color, transform 0.7s;
  display: block;
  margin: 2rem auto;
  font-family: "Barlow";
  color: white;
  font-weight: lighter;
  font-size: 2rem;
}

.find-button::before {
  content: "<";
}

.find-button::after {
  content: ">";
}

.find-button:hover {
  color: var(--red);
  animation: pulse 3s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 1800px) {
  .nav {
    padding: 1rem 0;
  }

  .nav-list .nav-list_item__poster:nth-child(4) {
    order: 1;
  }

  .nav-list {
    flex-direction: column;
    gap: 2vw;
  }

  .poster-container {
    padding-top: 0;
    margin: 6vw;
    outline-offset: 2vw;
  }

  .movie-title {
    position: relative;
    z-index: 0;
    top: 0;
    width: 80vw;
    min-width: 300px;
  }

  .poster {
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 450px) {
  .nav-footer-list {
    flex-direction: column;
    align-items: center;
  }

  .find-button {
    font-size: 6vw;
  }
}
