.storyline-header {
  padding: 3rem;
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.storyline-header__subtitle {
  color: white;
  font-size: calc(0.6rem + 0.1vw);
  font-weight: lighter;
  padding-top: 4rem;
  margin-bottom: 0;
}

.period {
  color: var(--red);
}

.storyline-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  justify-items: center;
}

.storyline-grid__description-container {
  height: 65vw;
}

.storyline-grid__description-container__text {
  margin-top: 2rem;
  position: sticky;
  top: 15rem;
  color: white;
  font-size: calc(12px + 1vw);
}

.storyline-grid__screenshot-container__img {
  width: 40vw;
  min-width: 250px;
  margin: 3rem 3rem 0 3rem;
  filter: grayscale(100%);
  transition: filter 1s;
}

.surprise {
  margin: 2rem auto;
  font-size: 10vw;
  text-align: center;
  animation: pulse 3s;
  animation-iteration-count: infinite;
}

.storyline-grid__screenshot-container__img:hover {
  filter: none;
}

@media screen and (max-width: 780px) {
  .storyline-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .storyline-grid__description-container {
    height: auto;
  }

  .storyline-grid__description-container__text {
    position: relative;
    top: 0;
    text-align: center;
  }

  .storyline-grid__screenshot-container__img {
    min-width: 0px;
    width: 30vw;
    margin: 1rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
